<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>Mikolaj Kniejski</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/CV.pdf" target="_blank">CV</a></li>
      </ul>
    </nav>
    <div class="container">{{ content }}</div>
    <!-- /.container -->
    <div
      style="
        width: 200px;
        height: 200px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <img
        src="me.jpg"
        style="width: 200px; border-radius: 50%; object-fit: cover"
      />
    </div>

    <footer>
      <ul>
        <li><a href="mailto:mikolajkniejski5@gmail.com">email</a></li>
        <li><a href="https://github.com/mikolajkniejski">github</a></li>
        <li>
          <a href="https://www.linkedin.com/in/miko%C5%82aj-k-3aab3b1b3/"
            >linkedin</a
          >
        </li>
      </ul>
    </footer>
  </body>
</html>
